<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- documented by aaronz@vt.edu -->
<beans>
    
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/jsp/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    
    <bean id="beanNameViewResolver"
        class="org.springframework.web.servlet.view.BeanNameViewResolver">
    </bean>

    <bean name="/listEvents" class="edu.yale.its.tp.portlets.calendar.mvc.controller.AjaxEventListController">
        <property name="calendarStore" ref="calendarStore"/>
    </bean>
        
</beans>
