<?xml version="1.0" encoding="UTF-8"?>
<web-app id="jasig-utility-portlets" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <display-name>Calendar Portlets</display-name>
    <description>Calendar Portlets</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/context/applicationContext.xml,/WEB-INF/context/calendarContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>calendar.root</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ViewRendererServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>AjaxResponseServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/context/servlet/ajaxResponseServletContext.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>CasProxyCallback</servlet-name>
        <servlet-class>edu.yale.its.tp.cas.proxy.ProxyTicketReceptor</servlet-class>
        <init-param>
            <param-name>edu.yale.its.tp.cas.proxyUrl</param-name>
            <param-value>https://localhost:8443/cas/proxy</param-value>
        </init-param>
    </servlet>

    <!-- [INSERT JSPC FRAGMENT HERE] -->
    
    <servlet-mapping>
        <servlet-name>ViewRendererServlet</servlet-name>
        <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/getEvent</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/listEvents</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AjaxResponseServlet</servlet-name>
        <url-pattern>/ajaxResponse</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CasProxyCallback</servlet-name>
        <url-pattern>/CasProxyCallback</url-pattern>
    </servlet-mapping>
        
</web-app>
